<div class="features">
  <div class="features__header"><h2>What we offer</h2></div>
    <ul class="feature__list grid grid--1x4">
      <li class="feature__list-item">
        <div class="feature__icon"><i class="fa-solid fa-person-dress"></i></div>
        <div class="feature__description"><h3>Baddies</h3><p>I heard baddies love tech bros...</p></div>
      </li>
      <li class="feature__list-item">
        <div class="feature__icon"><i class="fa-solid fa-poo"></i></div>
        <div class="feature__description"><h3>Straight bullshit</h3><p>We give it to you straight</p></div>
      </li>
      <li class="feature__list-item">
        <div class="feature__icon"><i class="fa-solid fa-user-ninja"></i></div>
        <div class="feature__description"><h3>Ninja, please</h3><p>"i said how is a ninja gonna borrow a fry???"</p></div>
      </li>
      <li class="feature__list-item">
        <div class="feature__icon"><i class="fa-regular fa-face-frown-open"></i></div>
        <div class="feature__description"><h3>Depression</h3><p>life is sad</p></div>
      </li>
    </ul>
</div>